<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="counter-wrapper">
  <h1>Counter</h1>
  <form class='counter'>
    <button id='increment'>Increment</button>
    <input type="number" name="counter" id='counter' value='0' />
    <button id='decrement'>Decrement</button>
  </form>
</div>
<%= javascript_pack_tag 'counter' %>

<%= link_to 'New Post', new_post_path %>
